.topmargin {
    width:auto;
    height:10px;
    background-color:azure;
}

.logo {
/*
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
    width:50%;
    height:100px;
*/
    height:100px;
    width:100%;
    background-image:url(../images/logo1.png);
    background-color:darkslategray ;
    background-size:auto;
    background-repeat:no-repeat;
    background-position:center;
    
    
}

.lform {
    padding-top:25px;
    padding-left:10px;
    
    background-color:goldenrod  ;
    
    height: 350px;
}

.hr1 {
    color:black;
    height:4px;
}

.goldenbrown {
    background-color:goldenrod  ;
    
}

.label1 {
    margin-left:50px;
    width : 150px;
    font-weight:700;
}